/*html {
	background-color:#000;
}*/

body {
	font-family: Tahoma, sans-serif;
	color: #083D77;
	background-color: #ECF39E;
}

#nav {
	font-weight: 900;	
	
/*	background-image: url"../images/board2.png";
	background-position: right top;
	background-repeat: no-repeat;*/
}

.header {
	text-align: center;
}

.card-columns {
	text-align: center;
}

#about {
	background-color: #fff;
	background-image: url("../images/roseMB.jpg");
	background-size: 25%;
	opacity: 0.5;
	background-position: top right;
	background-repeat: no-repeat;
	/*text-shadow: 1px 1px 2px #F4F8CA;*/
}

.btn-space {
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
